.site-footer {
  font-size: cre(14px);
  font-weight: 400;
  padding: 1rem;
  position: relative;
  text-align: center;
  z-index: 1;

  .home & {

    a {
      color: white;
      text-decoration: none;
    }
  }
}