.site-footer {
  font-size: 0.75em;
  font-weight: 400;
  padding: 1rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;

  .home & {

    a {
      color: white;
      text-decoration: none;
    }
  }
}