.main-navigation {
  width: 1px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  // Panel where button toggle exists
  .menu-panel {
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: rgba(0,0,0, 0.75);
    width: cre(70px);
    height: 100vh;
    padding-top: cre(54px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .menu-toggle {
    background-color: transparent;
    border: 0;
    outline: 0;
    position: relative;
    cursor: pointer;
    width: 60px;
    height: 100px;
    padding: 0 30px;

    &:hover {
      &::before,
      &::after {
        background-color: $yellow;
      }

      .burger {
        &::before,
        &::after {
          background-color: $yellow;
        }
      }
    }

    &::before,
    &::after {
      content: '';
      background-color: white;
      width: 20px;
      height: 3px;
      position: absolute;
      top: cre(16px);
      left: 50%;
      transform: translate3d(-50%, 0, 0) rotate(0deg);
      transition: 0.5s ease;
    }

    .burger {
      display: block;
      height: 30px;
      width: 30px;
      padding-top: 10px;

      &::before {
        content: '';
        background-color: white;
        width: 30px;
        height: 3px;
        position: absolute;
        top: 8px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        transition: 0.5s ease;
      }
  
      &::after {
        content: '';
        background-color: white;
        width: 10px;
        height: 3px;
        position: absolute;
        top: 24px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        transition: 0.5s ease;
      }
    }
    
    .menu-button-text {
      color: white;
      display: block;
      transform: translate3d(0,40px,0) rotate(-90deg);
      padding: 0 0 40px 40px;
    }
  }

  // When toggled do this
  &.toggled {

    .menu-toggle {

      &::before {
        transform: translate3d(-50%, 0, 0) rotate(45deg);
      }

      &::after {
        transform: translate3d(-50%, 0, 0) rotate(-45deg);
      }

      .burger {

        &::before,
        &::after {
          width: 0;
        }
      }
    }

    .menu-primary-container,
    #primary-menu {
      transform: translate3d(0,0,0);
    }
  }

  // Main Navigation
  .menu-primary-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    // align-items: center;
    background-color: rgba(0,0,0, 0.75);
    border-left: 1px solid rgba(255,255,255,0.45);
    width: cre(500px);
    height: 100%;
    position: absolute;
    top: 0;
    left: cre(70px);
    transform: translate3d(-100%,0,0);
    transition: 0.25s cubic-bezier(0,0,.58,1);

    .nav-menu {
      @include list-reset;
      margin-left: cre(80px)!important;

      li {

        a {
          display: inline-block;
          color: white;
          padding-bottom: .5rem;
          font-size: 1.75rem;
          font-weight: 200;
          line-height: 2.5;
          position: relative;

          &::before{
            content: '';
            width: 0;
            height: 1px;
            background: rgba(249,210,125,.75);
            position: absolute;
            left: 0;
            bottom: 8px;
            transition: all .5s ease-out;
          }

          &:hover {
            &::before {
              width: 100%;
            }
          }
        } // a

        &.current_page_item {

          a {
            color: rgba(249,210,125,.75);

            &::before {
              display: none;
            }
          }
        }
      } // li
    } // .nav-menu
  }
} // .main-navigation