.main-navigation {
  width: 1px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  // Panel where button toggle exists
  .menu-panel {
    background-color: rgba(0,0,0, 0.75);
    width: cre(70px);
    height: 100vh;
    padding-top: cre(54px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .menu-toggle {
    background-color: transparent;
    border: 0;
    
    .menu-button-text {
      color: white;
      display: block;
      transform: rotate(-90deg);
    }
  }

  // When toggled do this
  &.toggled {

    #primary-menu {
      transform: translate3d(0,0,0);
    }
  }

  // Main Navigation
  #primary-menu {
    display: flex;
    flex-flow: column;
    justify-content: center;
    // align-items: center;
    background-color: rgba(0,0,0, 0.75);
    border-left: 1px solid rgba(255,255,255,0.45);
    width: cre(500px);
    height: 100%;
    position: absolute;
    top: 0;
    left: cre(70px);
    transform: translate3d(-100%,0,0);
    transition: 0.25s cubic-bezier(0,0,.58,1);

    .nav-menu {
      @include list-reset;
      margin-left: cre(80px)!important;

      li {

        a {
          display: inline-block;
          color: white;
          padding-bottom: .5rem;
          font-size: 1.75rem;
          font-weight: 200;
          line-height: 2.5;
          position: relative;

          &::before{
            content: '';
            width: 0;
            height: 1px;
            background: rgba(249,210,125,.75);
            position: absolute;
            left: 0;
            bottom: 8px;
            transition: all .5s ease-out;
          }

          &:hover {
            &::before {
              width: 100%;
            }
          }
        } // a

        &.current_page_item {

          a {
            color: rgba(249,210,125,.75);

            &::before {
              display: none;
            }
          }
        }
      } // li
    } // .nav-menu
  }
} // .main-navigation