.sticky {
	display: block;
}

.post,
.page:not(.home) {
  margin: 0 0 1.5em;

  .site-main {
    padding-left: cre(120px);
    padding-right: cre(20px);
  }
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
